ipywidgets==7.7.1
matplotlib==3.7.0
numpy==1.24.2
pandas==1.5.3
torch==1.12.1
torchvision==0.13.1
tqdm==4.64.0
scapy==2.5.0
requests==2.26.0
impacket==0.9.23
pwntools==4.5.1
cryptography==3.4.8
python-nmap==0.7.1
Faker==8.16.0
pycrypto==2.6.1
twisted==21.7.0
pycryptodome==3.11.0